<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./c_00000</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{284,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{0,0},{284,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00001</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2547,1083},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00002</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{0,361},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00003</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{283,361},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00004</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{570,0},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00005</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{566,361},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00006</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{0,722},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00007</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{283,722},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00008</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{853,0},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00009</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{566,722},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00010</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{849,361},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00011</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{0,1083},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00012</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{849,722},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00013</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{283,1083},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00014</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1136,0},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00015</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1132,361},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00016</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{566,1083},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00017</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1132,722},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00018</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{849,1083},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00019</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1419,0},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00020</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{0,1444},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00021</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1415,361},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00022</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{283,1444},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00023</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{566,1444},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00024</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1132,1083},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00025</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1415,722},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00026</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{849,1444},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00027</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1702,0},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00028</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1698,361},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00029</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1415,1083},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00030</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{0,1805},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00031</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{283,1805},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00032</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1132,1444},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00033</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1698,722},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00034</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{566,1805},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00035</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1985,0},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00036</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{849,1805},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00037</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1981,361},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00038</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1698,1083},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00039</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1415,1444},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00040</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1981,722},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00041</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1132,1805},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00042</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{0,2166},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00043</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{283,2166},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00044</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1698,1444},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00045</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{566,2166},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00046</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1981,1083},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00047</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2268,0},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00048</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2264,361},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00049</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1415,1805},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00050</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{849,2166},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00051</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2264,722},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00052</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1132,2166},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00053</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1981,1444},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00054</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1698,1805},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00055</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2264,1083},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00056</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{0,2527},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00057</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{283,2527},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00058</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2551,0},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00059</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2547,361},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00060</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1415,2166},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00061</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{566,2527},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00062</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2547,722},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00063</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{849,2527},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00064</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1981,1805},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00065</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2264,1444},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00066</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1698,2166},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00067</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1132,2888},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00068</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1132,2527},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00069</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{0,2888},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00070</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2264,1805},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00071</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1415,2527},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00072</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{283,2888},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00073</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2547,1444},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00074</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1981,2166},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00075</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{566,2888},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00076</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{849,2888},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00077</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1698,2527},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00078</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2547,2888},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00079</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2547,1805},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00080</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2264,2166},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00081</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1981,2527},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00082</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1415,2888},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00083</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2547,2166},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00084</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1698,2888},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00085</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2264,2527},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00086</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{1981,2888},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00087</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2547,2527},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00088</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{282,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{2264,2888},{282,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./c_00089</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{284,360}</string>
    <key>spriteSourceSize</key>
    <string>{352,360}</string>
    <key>textureRect</key>
    <string>{{285,0},{284,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2834,3249}</string>
   <key>textureFileName</key>
   <string>Male.png</string>
  </dict>
 </dict>
</plist>
